*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font-family: 'Archivo', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Lobster Two', cursive;
font-family: 'Teko', sans-serif; */

html, body{
    font-family: 'Archivo', sans-serif;
}
.task-card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(#f2f5ff, #fff7f6, #f2f5ff);
}

.task-card.completed{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(#f2f5ff, #f6fff6, #f2f5ff);
}

.project-card{
    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    cursor: pointer;
    transition: 0.4s;
    position: relative;
}
.project-card:hover {
    transform: scale(0.9, 0.95);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), -5px -5px 30px 15px rgba(0,0,0,0.22);
}

.project-card .card-content{
    height: 70px;
    overflow: auto;
    font-family: 'Lobster Two', cursive;
    color: #3a3a3a;
    font-weight: 400;
}
.card-action-hidden{
    position: absolute;
    border-radius: 0px 0px 40px 40px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.445);
    transition: 0.4s;
    visibility: hidden;
    bottom: -10%; 
}
.project-card:hover .card-action-hidden{
    bottom: 0%; 
    visibility: visible;
}

.project-card .card-content::-webkit-scrollbar {
    width: 1px;
    visibility: hidden;
}
  
.project-card .card-content::-webkit-scrollbar-thumb {
    border-radius: 1px;
    visibility: hidden;
}

.ribbon-wrapper { width: 88px; height: 88px; overflow: hidden; position: absolute; top: -3px; right: -3px; z-index: 1;}
.ribbon-tag { text-align: center; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); position: relative; padding: 6px 0; left: -4px; top: 15px; width: 120px; color: #ffffff; -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3); -moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.3); box-shadow: 0px 0px 3px rgba(0,0,0,0.3); text-shadow: rgba(255,255,255,0.5) 0px 1px 0px; background: #343434; }

.ribbon-tag:before, .ribbon-tag:after { content: ""; border-top: 3px solid #50504f; border-left: 3px solid transparent; border-right: 3px solid transparent; position:absolute; bottom: -3px;}
.ribbon-tag:before { left: 0;}
.ribbon-tag:after { right: 0;}

.dealwrapper.purple .ribbon-tag { 
    background: rgba(203,96,179,1);
    background: -moz-linear-gradient(top, rgba(203,96,179,1) 0%, rgba(193,70,161,1) 50%, rgba(168,0,119,1) 51%, rgba(219,54,164,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(203,96,179,1)), color-stop(50%, rgba(193,70,161,1)), color-stop(51%, rgba(168,0,119,1)), color-stop(100%, rgba(219,54,164,1)));
    background: -webkit-linear-gradient(top, rgba(203,96,179,1) 0%, rgba(193,70,161,1) 50%, rgba(168,0,119,1) 51%, rgba(219,54,164,1) 100%);
    background: -o-linear-gradient(top, rgba(203,96,179,1) 0%, rgba(193,70,161,1) 50%, rgba(168,0,119,1) 51%, rgba(219,54,164,1) 100%);
    background: -ms-linear-gradient(top, rgba(203,96,179,1) 0%, rgba(193,70,161,1) 50%, rgba(168,0,119,1) 51%, rgba(219,54,164,1) 100%);
    background: linear-gradient(to bottom, rgba(203,96,179,1) 0%, rgba(193,70,161,1) 50%, rgba(168,0,119,1) 51%, rgba(219,54,164,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb60b3', endColorstr='#db36a4', GradientType=0 );
}

.dealwrapper.red .ribbon-tag { 
    background: rgba(248,80,50,1);
    background: -moz-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(248,80,50,1)), color-stop(50%, rgba(241,111,92,1)), color-stop(51%, rgba(246,41,12,1)), color-stop(71%, rgba(240,47,23,1)), color-stop(100%, rgba(231,56,39,1)));
    background: -webkit-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
    background: -o-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
    background: -ms-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
    background: linear-gradient(to bottom, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827', GradientType=0 );
}

.common-search-box{
    box-shadow: rgb(69 65 78 / 20%) 0px 0px 15px 1px!important;
}
.shadow-btn{
    box-shadow: 0 1px 10px 0 rgb(0 0 0 / 40%);
    transition: 0.4s;
}
.shadow-btn:hover{
    margin-top: -4px;
    transition: 0.4s;
}
.head-title-shadow{
    color: midnightblue;
    font-weight: 800;
    font-size: 34px;
    text-shadow: 3px 3px 3px #ce5a37;
    font-family: 'Teko', sans-serif;
}


@keyframes rotation-360 {
    0%   {transform: rotate(0deg);}
    100%   {transform: rotate(360deg);}
}

.modal-logo{
    border-radius: 50%;
    height: 55px;
    animation: rotation-360 .7s linear 2;
}

