*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font-family: 'Archivo', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Lobster Two', cursive;
font-family: 'Mulish', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Teko', sans-serif; */

html, body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
.mulish{
    font-family: 'Mulish', sans-serif;
}
.task-card{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    background-image: linear-gradient(#f2f5ff, #fff7f6, #f2f5ff);
    transition: 0.2s;
    border-radius: 10px;
}
.task-card:hover{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.task-card.completed{
    background-image: linear-gradient(#f2f5ff, #f6fff6, #f2f5ff);
}

.project-card{
    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    cursor: pointer;
    transition: 0.4s;
    position: relative;
}
.project-card:hover {
    transform: scale(0.95, 0.95);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), -5px -5px 30px 15px rgba(0,0,0,0.22);
}
.project-card .card-title{
    font-family: 'Poppins', sans-serif;
}
.card-content{
    height: 70px;
    overflow: auto;
    font-family: 'Lobster Two', cursive;
    color: #3a3a3a;
    font-weight: 400;
}
.card-action-hidden{
    position: absolute;
    border-radius: 0px 0px 40px 40px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.445);
    transition: 0.4s;
    visibility: hidden;
    bottom: -10%; 
}
.project-card:hover .card-action-hidden{
    bottom: 0%; 
    visibility: visible;
}

.project-card .card-content::-webkit-scrollbar {
    width: 1px;
    visibility: hidden;
}
  
.project-card .card-content::-webkit-scrollbar-thumb {
    border-radius: 1px;
    visibility: hidden;
}

.ribbon-wrapper { width: 88px; height: 88px; overflow: hidden; position: absolute; top: -3px; right: -3px; z-index: 1;}
.ribbon-tag { text-align: center; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); position: relative; padding: 6px 0; left: -4px; top: 15px; width: 120px; color: #ffffff; -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3); -moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.3); box-shadow: 0px 0px 3px rgba(0,0,0,0.3); text-shadow: rgba(255,255,255,0.5) 0px 1px 0px; background: #343434; }

.ribbon-tag:before, .ribbon-tag:after { content: ""; border-top: 3px solid #50504f; border-left: 3px solid transparent; border-right: 3px solid transparent; position:absolute; bottom: -3px;}
.ribbon-tag:before { left: 0;}
.ribbon-tag:after { right: 0;}

.dealwrapper.purple .ribbon-tag { 
    background: rgba(203,96,179,1);
    background: -moz-linear-gradient(top, rgba(203,96,179,1) 0%, rgba(193,70,161,1) 50%, rgba(168,0,119,1) 51%, rgba(219,54,164,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(203,96,179,1)), color-stop(50%, rgba(193,70,161,1)), color-stop(51%, rgba(168,0,119,1)), color-stop(100%, rgba(219,54,164,1)));
    background: -webkit-linear-gradient(top, rgba(203,96,179,1) 0%, rgba(193,70,161,1) 50%, rgba(168,0,119,1) 51%, rgba(219,54,164,1) 100%);
    background: -o-linear-gradient(top, rgba(203,96,179,1) 0%, rgba(193,70,161,1) 50%, rgba(168,0,119,1) 51%, rgba(219,54,164,1) 100%);
    background: -ms-linear-gradient(top, rgba(203,96,179,1) 0%, rgba(193,70,161,1) 50%, rgba(168,0,119,1) 51%, rgba(219,54,164,1) 100%);
    background: linear-gradient(to bottom, rgba(203,96,179,1) 0%, rgba(193,70,161,1) 50%, rgba(168,0,119,1) 51%, rgba(219,54,164,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb60b3', endColorstr='#db36a4', GradientType=0 );
}

.dealwrapper.red .ribbon-tag { 
    background: rgba(248,80,50,1);
    background: -moz-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(248,80,50,1)), color-stop(50%, rgba(241,111,92,1)), color-stop(51%, rgba(246,41,12,1)), color-stop(71%, rgba(240,47,23,1)), color-stop(100%, rgba(231,56,39,1)));
    background: -webkit-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
    background: -o-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
    background: -ms-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
    background: linear-gradient(to bottom, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827', GradientType=0 );
}

.common-search-box{
    box-shadow: rgb(69 65 78 / 20%) 0px 0px 15px 1px!important;
}
.shadow-btn{
    box-shadow: 0 1px 10px 0 rgb(0 0 0 / 40%);
    transition: 0.4s;
}
.shadow-btn:hover{
    margin-top: -4px;
    transition: 0.4s;
}
.head-title-shadow{
    color: midnightblue;
    font-weight: 800;
    font-size: 34px;
    text-shadow: 3px 3px 3px #ce5a37;
    font-family: 'Teko', sans-serif;
}


@keyframes rotation-360 {
    0%   {transform: rotate(0deg);}
    100%   {transform: rotate(360deg);}
}
@keyframes scale {
    0%   {transform: scale(0.5); opacity: 1;}
    50%   {transform: scale(1.5); opacity: 0.5;}
    100%   {transform: scale(0.5); opacity: 1;}
}

.modal-logo{
    border-radius: 50%;
    height: 55px;
    animation: rotation-360 .7s linear 2;
}

.login-form{
    max-width: 400px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;

}

.register-form{
    max-width: 700px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;

}

.black-to-green-svg{
    filter: invert(67%) sepia(29%) saturate(900%) hue-rotate(93deg) brightness(89%) contrast(89%);
}

.home-top h2{
    font-size: 44px;
    font-weight: 800;
    font-family: 'Archivo', sans-serif;
    color: rgb(1, 1, 68);
}
.home-top p{
    font-size: 24px;
    font-weight: 500;
    font-family: 'Archivo', sans-serif;
    color: rgb(1, 1, 68);
}

.home-top .btn{
    font-size: 20px;
    font-weight: 600;
    padding: 8px 30px;
    border-radius: 25px;
    font-family: 'Mulish', sans-serif;
}


body::-webkit-scrollbar {
    width: 1em;
    position: absolute;
}
   
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    position: absolute;
}
   
body::-webkit-scrollbar-thumb {
    background-color: rgb(194, 194, 194);
    outline: 1px solid rgb(114, 93, 0);
    border-radius: 10px;
    
}
.btn{
    white-space: nowrap;
}
.cursor-pointer{
    cursor: pointer;
}
.contact-container {
    position: relative; 
    top: 50%;
    transform: translate(-0%, 50%);
}
.dev-card{
    background: linear-gradient(150deg, #39ef74, #4600f1 100%);
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    color: #ffffff;
    border-radius: 30px;
    font-family: 'Mulish', sans-serif; 
}
.dev-card .dev-img img{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    border: 1px solid beige;
}
.dev-card p{
    margin-bottom: 0px;
}
.about-card{
    padding: 10px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 8px;
    color: #16004e;
}
.about-card img{
    border-radius: 8px;
}

.contact-star4, .contact-star5 {
    position: absolute;
    z-index: -1;
    height: 70px;
    opacity: 0.8;
}

.contact-star4 {
    top: 100px;
    left: 80px;
    -webkit-animation: rotation-360 4s linear infinite;
    animation: rotation-360 4s linear infinite;
}
.contact-star5 {
    top: 120px;
    right: 80px;
    -webkit-animation: scale 4s linear infinite;
    animation: scale 4s linear infinite;
}

.home-animation-box{
    position: absolute;
    z-index: -1;
    top: 100px;
    right: 5%;
    height: 70px;
    width: 70px;
    border-radius: 5px;
    border: 2px solid rgb(151, 255, 165);
    -webkit-animation: rotation-360 4s linear infinite;
    animation: rotation-360 4s linear infinite;
}

.home-btm-animation-box1{
    position: absolute;
    z-index: 2;
    width: 70px;
    height: 70px;
    bottom: 30%;
    left: 5%;
    border-radius: 5px;
    border: 2px solid rgb(151, 255, 241);
    -webkit-animation: rotation-360 4s linear infinite;
    animation: rotation-360 4s linear infinite;
    display: block;
}

